<div class="container body">

  <div class="main_container">

    <app-side-menu></app-side-menu>

    <div class="right_col" role="main">
      <div class="">

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <popup (confirmClick)="confirmDelete()">
              The transporter will be deleted. Are you sure?
            </popup>
            <button class="btn btn-info btn-xs" *ngIf="!create_transporter && !update_transporter" (click)="create()"> <span class="fa fa-plus"></span> Add New Transporter</button>
            <button class="btn btn-warning btn-xs" *ngIf="create_transporter || update_transporter" (click)="cancelCreate()"> <span class="fa fa-times"></span> Cancel</button>

            <div class="x_panel">
              <!-- FROM FOR SAVING NEW transporter DETAILS-->
              <div *ngIf="create_transporter || update_transporter">
                <form [formGroup]="transporterForm" (ngSubmit)="fbPostData(transporterForm.value)">
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error':!transporterForm.controls['first_name'].valid && transporterForm.controls['first_name'].touched}">
                      <label for="first_name">First Name</label>
                      <input type="text" class="form-control" id="first_name" [formControl]="transporterForm.controls['first_name']" [(ngModel)]="transporter.first_name"
                        name="first_name" placeholder="FirstName">
                      <div *ngIf="transporterForm.controls['first_name'].hasError('required') && transporterForm.controls['first_name'].touched"
                        class="alert alert-danger">You must include a first name.</div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error':!transporterForm.controls['last_name'].valid && transporterForm.controls['last_name'].touched}">
                      <label for="last_name">Last Name</label>
                      <input type="text" class="form-control" id="last_name" [formControl]="transporterForm.controls['last_name']" [(ngModel)]="transporter.last_name"
                        name="last_name" placeholder="LastName">
                      <div *ngIf="transporterForm.controls['last_name'].hasError('required') && transporterForm.controls['last_name'].touched"
                        class="alert alert-danger">You must include a last name.</div>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error':!transporterForm.controls['national_id'].valid && transporterForm.controls['national_id'].touched}">
                      <label for="national_id">National ID</label>
                      <input type="text" class="form-control" id="national_id" [formControl]="transporterForm.controls['national_id']" [(ngModel)]="transporter.national_id"
                        name="national_id" placeholder="1 1989 8 00023 9023 90 01">
                      <div *ngIf="transporterForm.controls['national_id'].hasError('required') && transporterForm.controls['national_id'].touched"
                        class="alert alert-danger">You must include a National ID.</div>
                      <div *ngIf="transporterForm.controls['national_id'].hasError('minlength') && transporterForm.controls['national_id'].touched"
                        class="alert alert-danger">The length can't be less than 16.</div>

                    </div>

                    <div class="form-group">
                      <label for="phone_Number_mtn">Phone number (MTN)</label>
                      <input type="text" class="form-control" id="phone_Number_mtn" [formControl]="transporterForm.controls['phone_Number_mtn']"
                        [(ngModel)]="transporter.phone_number_mtn" name="phone_Number_mtn" placeholder="078...">
                    </div>

                    <div class="form-group">
                      <label for="phone_Number_airtel">Phone number (AIRTEL)</label>
                      <input type="text" class="form-control" id="phone_Number_airtel" [formControl]="transporterForm.controls['phone_Number_airtel']"
                        [(ngModel)]="transporter.phone_number_airtel" name="phone_Number_airtel" placeholder="073...">
                    </div>

                    <div class="form-group">
                      <label for="phone_Number_tigo">Phone number (TIGO)</label>
                      <input type="text" class="form-control" id="phone_Number_tigo" [formControl]="transporterForm.controls['phone_Number_tigo']"
                        [(ngModel)]="transporter.phone_number_tigo" name="phone_Number_tigo" placeholder="072...">
                    </div>

                    <div class="row">
                      <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-info btn-xs" [disabled]="!transporterForm.valid"> Done</button>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="province">Province</label>
                      <select class="form-control" name="province_name" id="province" (change)="province_change()" [formControl]="transporterForm.controls['province_name']"
                        [(ngModel)]="province_name">
                    <option value="">Select your province</option>
                    <option *ngFor="let province of provinces" value="{{province}}" >{{ province}}</option>
                  </select>
                    </div>

                    <div class="form-group">
                      <label for="district">District</label>
                      <select class="form-control" name="district" id="district" (change)="district_change()" [formControl]="transporterForm.controls['district']"
                        [(ngModel)]="district_name">
                    <option value="">Select district</option>
                    <option *ngFor="let district of districts" value="{{district}}">{{ district}}</option>
                  </select>
                    </div>

                    <div class="form-group">
                      <label for="sector">Sector</label>
                      <select class="form-control" name="sector" id="sector" [formControl]="transporterForm.controls['sector']" [(ngModel)]="sector_name">
                    <option value="">Select sector</option>
                    <option *ngFor="let sector of sectors" value="{{sector}}">{{ sector }}</option>
                  </select>
                    </div>

                    <div class="form-group">
                      <label for="gender">Gender</label>
                      <select class="form-control" name="gender" id="gender" [formControl]="transporterForm.controls['gender']" [(ngModel)]="transporter.gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>                    
                  </select>
                    </div>

                    <div class="form-group" [ngClass]="{'has-error':!transporterForm.controls['age'].valid && transporterForm.controls['age'].touched}">
                      <label for="age">Age</label>
                      <input type="text" class="form-control" id="age" [formControl]="transporterForm.controls['age']" [(ngModel)]="transporter.age"
                        name="age">
                      <div *ngIf="transporterForm.controls['age'].hasError('required') && transporterForm.controls['age'].touched" class="alert alert-danger">You must include the age of this transporter.</div>
                      <div *ngIf="transporterForm.controls['age'].hasError('maxlength') && transporterForm.controls['age'].touched" class="alert alert-danger">The length can't be more than 2.</div>
                    </div>

                    <div class="form-group">
                      <label for="married">Married</label>
                      <select class="form-control" name="married" [formControl]="transporterForm.controls['married']" [(ngModel)]="transporter.married"
                        id="married">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>                    
                  </select>
                    </div>

                  </div>

                </form>
              </div>
              <!-- ALL THE transporterS-->
              <div class="x_content" *ngIf="!create_transporter && !update_transporter">
                <table id="datatable-buttons" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>


                  <tbody>
                    <tr *ngFor=" let transporter of transporters; let i= index; trackBy: trackByIndex">
                      <td>{{ transporter.first_name }} {{ transporter.last_name }}</td>

                      <td>
                        <div *ngIf="!transporter.updating_stock">
                          {{ transporter.stock }} Kg - <strong>{{ transporter.category }} {{ transporter.subcategory }}</strong>
                        </div>
                        <div *ngIf="transporter.updating_stock" class="row">
                          <div class="col-md-8">
                            <div class="form-group">
                              <label for="category_name">Type</label>
                              <select class="form-control" name="category_name" [(ngModel)]="category_name">
                                  <option *ngFor="let category of categories" value="{{ category.name }}">{{ category.name }}</option>
                              </select>
                            </div>

                            <div class="form-group">
                              <label for="subcategory_name">Category</label>
                              <select class="form-control" name="subcategory_name" [(ngModel)]="subcategory_name">
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                                  <option value="D">D</option>
                              </select>
                            </div>

                            <div class="form-group">
                              <label for="stock"> Quantity (Kg)</label>
                              <input class="form-control" type="text" [(ngModel)]="stock" name="stock">
                            </div>
                          </div>
                          <div>
                            <i class="fa fa-check" (click)="updateDone(i)"></i>
                            <i class="fa fa-times text-danger" (click)="cancelUpdate(i)"></i>
                          </div>

                        </div>
                      </td>
                      <td>
                        <i class="fa fa-trash text-danger" (click)="showPopup(i)"></i>
                        <i class="fa fa-pencil-square-o text-primary" (click)="fbUpdateData(i)"></i>
                        <i class="fa fa-plus text-success" (click)="updateStock(i)"></i>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>

  <!-- footer content -->
  <app-footer></app-footer>
  <!-- /footer content -->
</div>