<div class="container body">
  <div class="main_container">
    <app-top-menu></app-top-menu>
    <app-side-menu></app-side-menu>

    <div class="right_col" role="main">
      <div class="">

        <div class="row">


          <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-info"> <span class="fa fa-plus"></span> Add New Cooperative</button>
            <div class="x_panel">
              <!--<div class="x_title">
                    <h2>Button Example <small>Users</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>-->
              <div class="x_content">

                <table id="datatable-buttons" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of cooperatives">
                      <td>{{ c.name }}</td>
                      <td>{{ c.location }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>

  <!-- footer content -->
  <app-footer></app-footer>
  <!-- /footer content -->
</div>