<div class="container body">
  <div class="main_container">
    <popup (confirmClick)="confirmDelete()">
      The type will be deleted. Are you sure?
    </popup>
    <app-top-menu></app-top-menu>
    <app-side-menu></app-side-menu>

    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Profile</h3>
          </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                <div class="row">

                  <form>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="names">Names</label>
                        <input type="text" class="form-control" name="names" [(ngModel)]="names">
                      </div>

                      <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" value="{{ username }}" disabled>
                      </div>

                      <div class="form-group">
                        <label for="role">Role</label>
                        <input type="text" class="form-control" name="role" value="{{ role }}" disabled>
                      </div>

                      <div class="form-group">
                        <label for="coll">Collection Center</label>
                        <input type="text" class="form-control" name="coll" value="{{ collection_center }}" disabled>
                      </div>

                      <div class="form-group">
                        <label for="password">New Password (more than 5 characters)</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="new_password" required>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-info btn-xs" (click)="update()" >Submit</button>
                      </div>

                    </div>
                  </form>


                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
  <!-- footer content -->
  <app-footer></app-footer>
  <!-- /footer content -->
</div>