<router-outlet>
</router-outlet>
<!-- jQuery -->
<script src="assets/javascripts/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="assets/javascripts/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="assets/javascripts/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="assets/javascripts/vendors/nprogress/nprogress.js"></script>
<!-- Datatables -->
<script src="assets/javascripts/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="assets/javascripts/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="assets/javascripts/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
<script src="assets/javascripts/vendors/jszip/dist/jszip.min.js"></script>
<script src="assets/javascripts/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="assets/javascripts/vendors/pdfmake/build/vfs_fonts.js"></script>

<!-- Custom Theme Scripts -->
<script src="assets/build/js/custom.min.js"></script>